<div class="row">
	<div class="col-12">
		<ul class="active-filters"></ul>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="pt-2 pt-sm-3">
			<button class="btn btn-primary js-filter-apply" type="submit" disabled>
				<i class="fa fa-filter"></i>
				<div class="btn-label">
					<span class="btn-label-singular">{{#_t}}Apply Filter{{/_t}}</span>
					<span class="btn-label-plural active">{{#_t}}Apply Filters{{/_t}}</span>
					<span class="filter-apply-count"></span>
				</div>
			</button>
			<button class="btn js-filter-reset" type="reset" disabled>
				<i class="fa fa-undo"></i>
				<span class="btn-label text-">{{#_t}}Reset all{{/_t}}</span>
			</button>
		</div>
	</div>
</div>