<div class="filters-total-rows" data-count="{{ numTotal }}">
	<span class="row-count">{{ numTotal }}</span>
	<span class="row-count-label">
		{{# rowCountLabel }}{{ . }}{{/ rowCountLabel }}
		{{^ rowCountLabel }}{{#_t}}row-count-label{{/_t}}{{/ rowCountLabel }}
	</span>
	{{# rowCountLabelPlural}}
	<span class="row-count-label-plural">{{ . }}</span>
	{{/ rowCountLabelPlural}}
	{{^ rowCountLabelPlural}}
	<span class="row-count-label-plural">{{# rowCountLabel }}{{ . }}{{/ rowCountLabel }}{{^ rowCountLabel }}{{#_t}}row-count-label{{/_t}}{{/ rowCountLabel }}s</span>
	{{/ rowCountLabelPlural}}
</div>