
{{# hasSortOptions }}
<button class="sort-dropdown btn btn-light btn-outline-secondary dropdown-toggle dropdown-toggle-split" type="button"
	data-toggle="dropdown"
	aria-haspopup="true"
	aria-expanded="false"
>
	<span class="btn-label">{{#_t}}sort_by{{/_t}}</span>
	<div class="sort-option">
		: <span class="sort-option-value">None</span>
	</div>
</button>

<div class="dropdown-menu dropdown-menu-right">
	<a class="dropdown-item btn default" data-property="{{ property }}" data-direction="{{ direction }}">
		<span class="btn-label">-- {{#_t}}default_sort{{/_t}} --</span>
	</a>
	{{# sortOptions }}
		<a class="dropdown-item btn" data-property="{{ property }}" data-direction="{{ direction }}">
			<span class="btn-label">{{ label }}</span>
		</a>
	{{/ sortOptions }}
</div>
{{/ hasSortOptions }}