.c-filters-tabs {
	margin-bottom: 20px;

	.tab-filter-count {
		display: inline-block;
		&[data-count="0"] {
			display: none;
		}
	}
}

.c-filters-tab {
	position: relative;
	display: inline-block;
	&.active {
		button {
			color: #fff;
			background-color: #2f2f2f;
			border-color: #2f2f2f;
		}
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			top: 100%;
			transform: translate(-50%, -30%);
			width: 20px;
			height: 20px;
			margin-top: 15px;
			border-radius: 50%;
			background: #f0f0f0;
		}
	}
}

.c-filter-group {
	background: #F0F0F0;
	padding: 15px 50px;
	border-radius: 0.25rem;
	min-height: 30px;
	display: none;
	&.active {
		display: block;
	}
}

.c-filters .js-filter-apply .btn-label {
	display: inline-block;
	span {
		display: none;
		&.active,
		&.filter-apply-count {
			display: inline-block;
		}
	}
}

div.no-filters {
    opacity: 0.8;
    text-align: center;
}

.filter-group-label {
    border-bottom: 2px solid #dee2e6;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
}

.sort-dropdown {
	.sort-option {
		display: none;
	}
	&.selected .sort-option {
		display: inline-block;
	}
}

.c-filters {
	.form-group {
		margin-bottom: 0;
		&.switch-sm {
			display: flex;
			justify-content: space-between;
			label {
				padding-right: 10px;
			}
		}
	}

	.filters-total-rows {
		font-size: 20px;
    	padding-left: 15px;

		.plural {
			display: inline;
		}
		&[data-count="0"] {
			display: none;
		}
		&[data-count="1"] {
			.plural {
				display: none;
			}
		}
	}
}

.filter-group {
	padding: 0 30px;
}

$switch-thumb-padding: 2px;
$switch-height-xs: calc(calc(1.5em + 1rem + #{$switch-thumb-padding}) * .6);

.switch.switch-xs {
	font-size: calc($font-size-sm / 2);

	input {
		+ label {
			min-width: calc(#{$switch-height-xs} * 2);
			height: $switch-height-xs;
			line-height: $switch-height-xs;
			text-indent: calc(calc(#{$switch-height-xs} * 2) + .5rem);
		}

		+ label::before {
			width: calc(#{$switch-height-xs} * 2);
		}

		+ label::after {
			width: calc(#{$switch-height-xs} - calc(#{$switch-thumb-padding} * 2));
			height: calc(#{$switch-height-xs} - calc(#{$switch-thumb-padding} * 2));
		}

		&:checked + label::after {
			margin-left: $switch-height-xs;
		}
	}
}

.active-filters {
    list-style: none;
    padding: 15px 0 0;
    margin: 0;
	li {
		display: inline-block;
		background: #000;
		border-radius:5px;
		padding: 5px 5px 5px 10px;
		margin: 0 5px 5px 0;
		color: #FFF;
		span {
			display: inline-block;
			padding-right: 5px;
			vertical-align: top;
			max-width: 100px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			&.label {
				background: #f0f0f0;
				color: #000;
				border-radius: 2px;
				padding-left: 5px;
				margin: 0 5px 0 -5px;
			}
		}
		.remove {
			cursor: pointer;
			border-radius: 50%;
			box-sizing: border-box;
			width: 18px;
			height: 18px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			vertical-align: top;

			&:hover {
				background: #FFF;
				color: #000;
			}
			&:before {
				padding-left: 1px;
			}
		}
	}
}

.c-filters.loading {
	.filters-total-rows {
		opacity: 0.5;
	}
	.sort-dropdown,
	.filter-group,
	.active-filters {
		opacity: 0.5;
		pointer-events: none;
	}
}