<form id="{{ widgetId }}" class="c-filters c-table-container mt-2 mt-xl-4" method="post" autocomplete="off">

    <div class="row pb-2">
        {{# label }}
        <div class="col-6">
            <div class="o-header -small">
                {{ . }}
            </div>
        </div>
        {{/ label }}
        <div class="col-6 filters-total-rows" data-count="{{ numTotal }}">
            <span class="row-count">{{ numTotal }}</span>
            <span class="row-count-label">
                {{# rowCountLabel }}{{ . }}{{/ rowCountLabel }}
                {{^ rowCountLabel }}{{#_t}}row-count-label{{/_t}}{{/ rowCountLabel }}
            </span>
            {{# rowCountLabelPlural}}
            <span class="row-count-label-plural">{{ . }}</span>
            {{/ rowCountLabelPlural}}
            {{^ rowCountLabelPlural}}
            <span class="row-count-label-plural">{{# rowCountLabel }}{{ . }}{{/ rowCountLabel }}{{^ rowCountLabel }}{{#_t}}row-count-label{{/_t}}{{/ rowCountLabel }}s</span>
            {{/ rowCountLabelPlural}}
        </div>
    </div>

    <div class="row c-filters-tabs">
        <div class="col-10">
            {{# tabs }}
                <div class="c-filters-tab p-2" data-tab="{{ tab_key }}">
                    <button class="btn btn-light btn-outline-secondary" type="button">
                        <span class="btn-label">{{ label }}</span>
                        <div class="tab-filter-count" data-count="0">
                            (<span class="count">0</span>)
                        </div>
                        <i class="fa fa-angle-down"></i>
                    </button>
                </div>
            {{/ tabs }}
        </div>
        <div class="col-2 text-right pt-2">
            {{> charcoal/advanced-search/widget/partial/sort }}
        </div>
    </div>
    <div class="o-flex align-items-center">
        <div class="o-flex_main">
            <fieldset>
                {{# tabsWithFilters }}
                    <div class="c-filter-group" data-tab="{{ tab_key }}">
                        {{# groups }}
                            {{> charcoal/advanced-search/widget/partial/filter-group }}
                        {{/ groups }}
                        {{^ groups }}
                            <div class="no-filters">{{#_t}}No filters{{/_t}}.</div>
                        {{/ groups }}
                    </div>
                {{/ tabsWithFilters }}
            </fieldset>
        </div>
    </div>

    {{> charcoal/advanced-search/widget/partial/advanced-search-footer }}

</form>

{{> charcoal/advanced-search/widget/partial/assets }}