<form id="{{ widgetId }}" class="c-filters c-table-container mt-2 mt-xl-4" method="post" autocomplete="off">

    {{# label }}
    <div class="row pb-2">
        <div class="col-6">
            <div class="o-header -small">
                {{ . }}
            </div>
        </div>
    </div>
    {{/ label }}

    <div class="row c-filters-tabs">
        <div class="col-6 p-2">
            {{> charcoal/advanced-search/widget/partial/row-count }}
        </div>
        <div class="col-6 text-right pt-2">
            {{> charcoal/advanced-search/widget/partial/sort }}
        </div>
    </div>
    <div class="o-flex align-items-center">
        <div class="o-flex_main">
            <fieldset>
                <div class="c-filter-group active">
                    {{# groupsWithFilters }}
                        {{> charcoal/advanced-search/widget/partial/filter-group }}
                    {{/ groupsWithFilters }}
                    {{^ groupsWithFilters }}
                        <div class="no-filters">{{#_t}}No filters{{/_t}}.</div>
                    {{/ groupsWithFilters }}
                </div>
            </fieldset>
        </div>
    </div>

    {{> charcoal/advanced-search/widget/partial/advanced-search-footer }}

</form>

{{> charcoal/advanced-search/widget/partial/assets }}