<form id="{{ widgetId }}" class="c-filters c-table-container mt-2 mt-xl-4" method="post">
    {{# label }}
        <div class="row pb-2">
            <div class="col-6">
                <div class="o-header -small">
                    {{ . }}
                </div>
            </div>
        </div>
    {{/ label }}
    <div class="row c-filters-tabs">
        <div class="col-md-10">
            {{# tabs }}
                <div class="c-filters-tab p-2" data-tab="{{ tab_key }}">
                    <button class="btn btn-light btn-outline-secondary" type="button">
                        <span class="btn-label">{{ label }}</span>
                        <i class="fa fa-angle-down"></i>
                    </button>
                </div>
            {{/ tabs }}
        </div>
        <div class="col-md-2 text-right p-2">
            <button class="btn btn-light btn-outline-secondary" type="button">
                <span class="btn-label">Trier par</span>
                <i class="fa fa-angle-down"></i>
            </button>
        </div>
    </div>
    <div class="o-flex align-items-center">
        <div class="o-flex_main">
            <fieldset>
                {{# tabsWithFilters }}
                    <div class="row c-filter-group" data-tab="{{ tab_key }}">
                        {{# filters }}
                            {{> charcoal/advanced-search/widget/filter }}
                        {{/ filters }}
                        {{^ filters }}
                            <div class="no-filters">{{#_t}}No filters{{/_t}}.</div>
                        {{/ filters }}
                    </div>
                {{/ tabsWithFilters }}
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="pt-2 pt-sm-3">
                <button class="btn btn-primary js-filter-apply" type="submit" disabled>
                    <i class="fa fa-filter"></i>
                    <div class="btn-label">
                        <span class="btn-label-singular">{{#_t}}Apply Filter{{/_t}}</span>
                        <span class="btn-label-plural active">{{#_t}}Apply Filters{{/_t}}</span>
                        <span class="filter-apply-count"></span>
                    </div>
                </button>
                <button class="btn js-filter-reset" type="reset" disabled>
                    <i class="fa fa-undo"></i>
                    <span class="btn-label text-">{{#_t}}Reset all{{/_t}}</span>
                </button>
            </div>
        </div>
    </div>
</form>

{{ assets.enqueue.js.advanced_search_js }}
{{ assets.enqueue.css.advanced_search_css }}
{{# assets.inject.js }}
    Charcoal.Admin.manager().add_widget({
        id:   '{{ widgetId }}',
        obj_type: '{{ objType }}',
        collection_ident: '{{ collectionIdent }}',
        collection_table: '{{ collectionTable }}',
        type: '{{ type }}',
        widget_type: '{{ type }}',
        data: {{& widgetDataForJsAsJson }}
    });
{{/ assets.inject.js }}