<form id="{{ widgetId }}" class="c-filters c-table-container mt-2 mt-xl-4" method="post" autocomplete="off">
    {{# label }}
        <div class="row pb-2">
            <div class="col-6">
                <div class="o-header -small">
                    {{ . }}
                </div>
            </div>
        </div>
    {{/ label }}
    <div class="row c-filters-tabs">
        <div class="col-md-12 text-right p-2">
            <button class="sort-dropdown btn btn-light btn-outline-secondary dropdown-toggle dropdown-toggle-split" type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            >
                <span class="btn-label">{{#_t}}sort_by{{/_t}}</span>
                <div class="sort-option">
                    : <span class="sort-option-value">None</span>
                </div>
            </button>

            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item btn default" data-property="{{ property }}" data-direction="{{ direction }}">
                    <span class="btn-label">-- {{#_t}}default_sort{{/_t}} --</span>
                </a>
                {{# sortOptions }}
                    <a class="dropdown-item btn" data-property="{{ property }}" data-direction="{{ direction }}">
                        <span class="btn-label">{{ label }}</span>
                    </a>
                {{/ sortOptions }}
            </div>

        </div>
    </div>
    <div class="o-flex align-items-center">
        <div class="o-flex_main">
            <fieldset>
                <div class="c-filter-group active">
                    {{# groupsWithFilters }}
                        {{> charcoal/advanced-search/widget/filter-group }}
                    {{/ groupsWithFilters }}
                    {{^ groupsWithFilters }}
                        <div class="no-filters">{{#_t}}No filters{{/_t}}.</div>
                    {{/ groupsWithFilters }}
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="pt-2 pt-sm-3">
                <button class="btn btn-primary js-filter-apply" type="submit" disabled>
                    <i class="fa fa-filter"></i>
                    <div class="btn-label">
                        <span class="btn-label-singular">{{#_t}}Apply Filter{{/_t}}</span>
                        <span class="btn-label-plural active">{{#_t}}Apply Filters{{/_t}}</span>
                        <span class="filter-apply-count"></span>
                    </div>
                </button>
                <button class="btn js-filter-reset" type="reset" disabled>
                    <i class="fa fa-undo"></i>
                    <span class="btn-label text-">{{#_t}}Reset all{{/_t}}</span>
                </button>
            </div>
        </div>
    </div>
</form>

{{ assets.enqueue.js.advanced_search_js }}
{{ assets.enqueue.css.advanced_search_css }}
{{# assets.inject.js }}
    Charcoal.Admin.manager().add_widget({
        id:   '{{ widgetId }}',
        obj_type: '{{ objType }}',
        collection_ident: '{{ collectionIdent }}',
        collection_table: '{{ collectionTable }}',
        type: '{{ type }}',
        widget_type: '{{ type }}',
        data: {{& widgetDataForJsAsJson }}
    });
{{/ assets.inject.js }}