<form id="{{ widgetId }}" class="c-filters c-table-container mt-2 mt-xl-4" method="post" autocomplete="off">

    {{> charcoal/advanced-search/widget/partial/advanced-search-header }}

    <div class="row c-filters-tabs">
        <div class="col-md-10">
            {{# tabs }}
                <div class="c-filters-tab p-2" data-tab="{{ tab_key }}">
                    <button class="btn btn-light btn-outline-secondary" type="button">
                        <span class="btn-label">{{ label }}</span>
                        <div class="tab-filter-count" data-count="0">
                            (<span class="count">0</span>)
                        </div>
                        <i class="fa fa-angle-down"></i>
                    </button>
                </div>
            {{/ tabs }}
        </div>
        <div class="col-md-2 text-right p-2">
            {{> charcoal/advanced-search/widget/partial/sort }}
        </div>
    </div>
    <div class="o-flex align-items-center">
        <div class="o-flex_main">
            <fieldset>
                {{# tabsWithFilters }}
                    <div class="c-filter-group" data-tab="{{ tab_key }}">
                        {{# groups }}
                            {{> charcoal/advanced-search/widget/partial/filter-group }}
                        {{/ groups }}
                        {{^ groups }}
                            <div class="no-filters">{{#_t}}No filters{{/_t}}.</div>
                        {{/ groups }}
                    </div>
                {{/ tabsWithFilters }}
            </fieldset>
        </div>
    </div>

    {{> charcoal/advanced-search/widget/partial/advanced-search-footer }}

</form>

{{> charcoal/advanced-search/widget/partial/assets }}