{{# layout }}
	{{ start }}
	{{# cellStartsRow }}
	<!-- filter -->
	<section class="o-section">
		<div class="row">
	{{/ cellStartsRow }}
{{/ layout }}

		<div{{# layout }} class="col-md-{{ cellSpanBy12 }}"{{/ layout }}>
			{{> charcoal/advanced-search/widget/form-property-widget }}
		</div>

{{# layout }}
	{{# cellEndsRow }}
		</div>
	</section>
	<!-- filter-end -->
	{{/ cellEndsRow }}
	{{ end }}
{{/ layout }}