{{# groupLayout }}
	{{ start }}
	{{# cellStartsRow }}
	<!-- group -->
	<section class="o-section">
		<div class="row">
	{{/ cellStartsRow }}
{{/ groupLayout }}

		<div class="filter-group{{# groupLayout }} col-md-{{ cellSpanBy12 }}{{/ groupLayout }}">
			{{# label }}<div class="filter-group-label">{{ . }}</div>{{/ label }}
			{{# filters }}
				{{> charcoal/advanced-search/widget/filter }}
			{{/ filters }}
		</div>

{{# groupLayout }}
	{{# cellEndsRow }}
		</div>
	</section>
	<!-- group-end -->
	{{/ cellEndsRow }}
	{{ end }}
{{/ groupLayout }}