{{# layout }}
	{{ start }}
	{{# cellStartsRow }}
		<section class="o-section">
			<div class="row">
	{{/ cellStartsRow }}
{{/ layout }}

	<div{{# layout }} class="col-md-{{ cellSpanBy12 }}"{{/ layout }}>
		{{> charcoal/admin/widget/form-property-widget }}
	</div>

{{# layout }}
	{{# cellEndsRow }}
			</div>
		</section>
	{{/ cellEndsRow }}
	{{ end }}
{{/ layout }}